{% extends 'layout.html' %}

{% block content %}
<form action="#" method="POST">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <title>Anpfiff Flensburg</title>

</head>
<div class="Contact">
  <h1>BESUCHT UNS GERNE! </h1>
  <h2>Kontaktiere Uns</h2>
  <p>
    Wir freuen uns, von Ihnen zu hören! Wenn Sie Fragen, Anmerkungen oder Anfragen haben,
    zögern Sie nicht, uns über E-mail oder übers Telefon zu erreichen. Wir sind bestrebt, Ihnen so
    schnell wie möglich zu antworten.
  </p>

  <div class="Contactformular">
    
    <fieldset>
      <legend>Kontaktformular</legend>
      <label for="name">Vorname</label>
      <input id="vorname" name="vorname" type="text" value="Name">
      <label for="surname">Name</label>
      <input id="nachname" name="nachname" type="text" value="Nachname">
    </fieldset>
    <fieldset>
      <label for="titel">Ihr Kontaktgrund</label>
      <input id="titel" name="titel" type="text" value="Ihr Kontaktgrund">
    </fieldset>
    <fieldset>
      <label for="text">weitere Beschreibung des Kontaktgrunds</label>
      <input id="text" name="text" type="text" value="Ihr Text">
    </fieldset>
    <button type="submit">Speichern</button>
  </div>
</div>
</form>



{% endblock %}