{% extends 'layout.html' %}

{% block content %}
<form action="#" method="POST">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <title>Anpfiff Flensburg</title>

</head>
<body>
  <div class="contact-container">
      <h1>BESUCHT UNS GERNE! </h1>
      <h2>Kontaktiere Uns</h2>
      <p>Wir freuen uns, von Ihnen zu hören! Wenn Sie Fragen, Anmerkungen oder Anfragen haben, zögern Sie nicht, uns über E-mail oder übers Telefon zu erreichen. Wir sind bestrebt, Ihnen so schnell wie möglich zu antworten.</p>
      <p>Email: <a href="mailto:example@gmail.com">example@gmail.com</a></p>

      <p>Telefon: <a href="tel:+0123412345678">01234/12345678</a></p>
      {% if userlogin  %}    
      <div class="contact-form">
          <form action="#" method="POST">
              <fieldset class="form-fieldset">
                  <legend class="form-legend">Kontaktformular</legend>
                  <label for="vorname" class="form-label">Vorname</label>
                  <input id="vorname" name="vorname" type="text" value="Name" class="form-input">
                  <label for="nachname" class="form-label">Name</label>
                  <input id="nachname" name="nachname" type="text" value="Nachname" class="form-input">
              </fieldset>
              <fieldset class="form-fieldset">
                  <label for="titel" class="form-label">Ihr Kontaktgrund</label>
                  <input id="titel" name="titel" type="text" value="Ihr Kontaktgrund" class="form-input">
              </fieldset>
              <fieldset class="form-fieldset">
                  <label for="text" class="form-label">weitere Beschreibung des Kontaktgrunds</label>
                  <input id="text" name="text" type="text" value="Ihr Text" class="form-input">
              </fieldset>
              <button type="submit" class="form-button">Speichern</button>
          </form>
      </div>
      {% else %}
      <div class="contact-form">
        <p>Logge dich ein um eine Nachricht zu hinterlassen.</p>
      </div>

      {% endif %}
  </div>
  
</body>



<footer>
  <p><a href="/doku">Dokumentation</a></p>
</footer>
{% endblock %}
