{% extends 'layout.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Zugriff verweigert</title>
</head>

<body>
    <div class="container">
        <h1>Zugriff verweigert</h1>
        <p>Diese Seite ist nicht für dich zugänglich</p>
        <a href="/" class="button">Zurück zur Startseite</a>
    </div>
    
 </body>
 <footer>
    <p><a href="/doku">Dokumentation</a></p>
</footer>
 
 </html>
 {% endblock %}