{% extends 'layout.html' %}

{% block content %}
<form action="#" method="POST">
    <div class="event-details">
        <h2>{{ formData.titel }}</h2>
        <h3>Uhrzeit: {{ formData.uhrzeit }}</h3>
        <p>Datum: {{ formData.datum }}</p>
        <div class="description">{{ formData.beschreibung }}</div>
        <img src="{{ formData.bildurl }}" alt="Event-Bild" class="event-image">
        <p>Tag: {{ formData.tag }}</p>
        <p>Angemeldete Teilnehmer: {{ formData.angemeldet }}</p>

        <button type="submit" class="signup-button">Jetzt anmelden</button>
    </div>
</form>
<footer>
    <p><a href="/doku">Dokumentation</a></p>
</footer>
{% endblock %}