{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Anpfiff Flensburg</title>
</head>

<body>
    <form action="/logout" method="POST">
        <h2>Möchten Sie sich wirklich abmelden?</h2>
        <button type="submit">Ja, ich möchte mich abmelden.</button>
    </form>
    <button class="logout-button" onclick="location.href='/profile'">Nein, zurück</button>
    <footer>
        <p><a href="/doku">Dokumentation</a></p>
    </footer>
</body>

</html>
{% endblock %}