{% extends 'layout.html' %}

{% block content %}
<html>
<head>
  <title>Profilseite</title>
</head>
<body>
  <div class="profile-container">
    <h1 class="profile-title">Mein Profil</h1>
    
    <form action="#" method="POST">
      <div class="profile-form" id="benutzername">
        <label for="username" class="form-label">Benutzername:</label>
        <input type="text" id="username" name="username" class="form-input" value="{{ name }}" >
      </div>

      <div class="profile-form" id="email">
        <label for="mail" class="form-label">E-Mail:</label>
        <input type="email" id="mail" name="mail" class="form-input" value="{{ email }}" readonly>
      </div>

      <div class="profile-form" id="events">
        <label for="events" class="form-label">Events:</label>
        <textarea id="events" name="events" class="form-textarea" >{{ events }}</textarea>
      </div>

      <button type="submit" class="save-button">Änderungen speichern</button>
    </form>
      <button class="logout-button" onclick="location.href='/logout'">Logout</button>
    
  </div>
</body>
</html>
{% endblock %}
